<% include ./partials/boilerplate.ejs %>

<h1 id = 'index-title'> AHC Product Inventory </h1> 
<div class = 'logo'>
<% include ./products/logo.ejs%>
</div>


<div class = "a-index">
<a href = '/products' class=" a-index"> Enter Site</a>
</div>


<%include ./partials/end.ejs %>
