
<nav> 
	<ul>
		<li><a href ="/" class = 'direct-home'>HOME</a></li>
	</ul>
 <div class= "nav-div"> Please Be Alert When Manipulating Our Inventory!<div>
<div class= "nav-div2">Organization is Key<div>

</nav>

